# Instructions
Before you turn this problem in, make sure you fill in any place that says `YOUR CODE HERE` , as well as your name and section. 

Don't try to delete or alter the empty cells; they contain the test cases and hidden from you. 

If the question asks you to asign the returned value in a variable, use the same variable name as it mentions. I have typed the variable names for you to avoid any unexpected errors; you will only assign the value.

In part 2 and part 3, the program is reading the dataset from google drive links. You can use the url to download the csv files and read them but that is not required for this assignment.

In [8]:
NAME = "Badr Abushaar"
Section="104"

---

# Part 1

In [9]:
import pandas as pd
import numpy as np

## Question 1
Sort arr to produce the following sorted array:

[[ 0.38845352, -0.91379247],

[ 0.4511203 ,  0.47462882],

[ 0.72744033,  1.53018022]]

In [10]:
arr = np.array([[ 0.38845352,  0.47462882],
                [ 0.4511203 ,  1.53018022],
                [ 0.72744033, -0.91379247]])
# YOUR CODE HERE
arr.sort(0)

## Question 2
Write the code to produce the following sum from arr2 and assign the result in the variable temp_sum:

[ 16, 105]

In [11]:
arr2 = np.array([[11, 2, 3], 
                [40, 5, 60]])
# YOUR CODE HERE
temp_sum = arr2.sum(1)

## Question 3
Write the code to produce the following numpy array and assign it to the variable temp_arr:

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [12]:
# YOUR CODE HERE
temp_arr = np.arange(0, 100, 3)

# Part 2

In [13]:
import pandas as pd
import numpy as np
url = 'https://drive.google.com/file/d/1gzci82iegwJYMkfayt3FW-uiAVVHy6En/view?usp=share_link'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path)

In [14]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay'], dtype='object')

## Question 4
In the dataset, there is an employe as DAVID SHINN in the EmployeeName column. Write the code that will return the BasePay of DAVID SHINN?

Your answer will have the following syntax:

base_pay=df[df[""]=='DAVID SHINN'][""]

In [15]:
# YOUR CODE HERE
base_pay = df[df["EmployeeName"] == 'David Shinn']["BasePay"]

## Question 5 
In the dataset, there is a column as JobTitle. One of the job titles is Registered Nurse. Write the code that will return the total number of Registered Nurse in the dataset.

hint: use the value_counts() function on the JobTitle column and then extract the required information from the result.

In [26]:
# YOUR CODE HERE
RN_count = df["JobTitle"].value_counts()["Registered Nurse"]
RN_count

1257

## Qustion 6 
Write the code to change the data type of column OvertimePay. After the operation, if you execute the following code, it will return you - dtype('float64')

df['OvertimePay'].dtype

In [17]:
df['OvertimePay']=df['OvertimePay'].replace(to_replace = 'Not Provided', value = np.nan) # Execute this cell to avoid error in next cell

In [18]:
# YOUR CODE HERE
df["OvertimePay"] = df["OvertimePay"].astype(np.float64)
df["OvertimePay"].dtype

dtype('float64')

## Question 7 
Write the code to find the maximum overtimePay and assign the result to the variable max_overtime_pay.

In [19]:
# YOUR CODE HERE
max_overtime_pay = df["OvertimePay"].max()

# Part 3

In [20]:
import pandas as pd
import numpy as np
url = 'https://drive.google.com/file/d/1c9oQmLdQgoy_-yq6GErTQZWqVszPcNtQ/view?usp=share_link'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df2 = pd.read_csv(path)

In [21]:
df2.shape # returns a tuple where the first item tells us how many rows are there and the second item tells us how many column.

(100, 5)

In [22]:
df2.columns # Prints the columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

## Question 8
In df2, Some rows have missing values in all columns. Drop these rows from the dataframe df2. After this operation, the shape of df2 will be (97, 5).

In [23]:
# YOUR CODE HERE
df2 = df2.dropna(how='all')
df2.shape

(97, 5)

## Question 9
In column E, there are three missing values. You can run the following code to see the total number of missing values of a column:

df2['E'].isnull().sum()

Write the code to replace the missing values of column E with the mean of the column. Your code will change df2 so you have to set the value of  the inplace parameter appropriately.

In [28]:
# YOUR CODE HERE

df2["E"].fillna(df2["E"].mean(), inplace=True)

           A         B         C         D         E
0   0.523312  1.320279  1.474605  1.198311  0.692239
1   1.190973  0.407880  0.941076  0.082033  0.183243
2   1.163413  1.917823  1.399499  0.000746  0.400787
4   1.796116  0.260222  1.472445  2.221177  0.790012
5   0.228419  0.625736  1.432648  0.612599  1.239951
..       ...       ...       ...       ...       ...
95  0.663620  0.944651  0.413895  1.859505  0.739765
96  0.713766  0.513621  0.049574  0.333970  0.032721
97  0.942480  0.261189  0.015805  0.888358  1.526880
98  0.607793  1.148644  0.475321  0.700798  1.038997
99  0.207433  0.053647  0.628750  0.014544  1.007211

[97 rows x 5 columns]

## Question 10
Select the first 50 rows of columns 'A' and 'B' and Assign the selection to a variable called new_df. After the operation the variable new_df will have 2 columns and 50 rows.

In [25]:
# YOUR CODE HERE
new_df = df2.iloc[0:50, [0, 1]]